*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: #f5f6fa;
}
button{
	width: 251.75px;
	height: 56px;
	cursor: pointer;
	border: none;
	outline: none;
	text-transform: uppercase;
	background:  linear-gradient(90deg, #F27A54 -21.05%, #A154F2 121.05%);;
	border-radius: 30px;
	color:  #fff;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	position: relative;
}

.over-elements {
    overflow: hidden;
}
.popup-menu{
	height: 100%;
	width:100%;
	top: 90px;
	background-color: #FFFFFF;
	position: fixed;
	z-index: 900;
	display: none;
	list-style-type: none;
	
}
.popup-menu__elements li {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-bottom: 1px solid #f82370;
}
.header{
	padding-top: 15px;
	width: 100%;
	background-color: #fff ;
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
	position: fixed;
	padding: 13px 0;
	z-index: 40;
}
.m-menu__btn{
	background-repeat: no-repeat;
	border: none;
	background-color: transparent;
	display: none;
	background-image: url(../img/menu.svg);
}
.menu-close{
	background-image: url(../img/close.svg) !important;
	background-position: center;
}
nav{
	display: inline-block;
}
a{
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	font-size: 13px;
	text-align: center;
}
.header-menu a:after,.heaadar__login_link:after {
	display: block;
	
	left: 0; 
	width: 0;
	height: 2px;
	background: linear-gradient(90deg, #F27A54 0%, #A154F2 186.42%);
	content: "";
	transition: width 0.3s ease-out;
}

.header-menu a:hover:after,.heaadar__login_link:hover:after {
	width: 100%; 
}

.header-menu__links li {
	display: inline-block;
	padding: 18px;    
}
.heaadar__avatar{
	vertical-align: middle;
}
.btn-shadow{
	background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
	margin: 118px auto 0px;
	padding: 3px 12px;
	   border-radius: 43px;
}
.header-menu__links a{
	min-width: 20px;
}
.heaadar__logo{
	max-width:72px;
	min-height: 61px;
	display: inline-block;
	vertical-align: middle;
}
.is-pop-up-open {
    position: relative;
    overflow: hidden;
    height: 100vh;
}
label.error {
    font-size: 15px;
    background-color: transparent !important;
    display: block;
    font-weight: 300;
    margin-top: -17px;
    color: #ee0d0d;
    text-align: center !important;
}
input.error {
    border: 1px solid  #A154F2  !important;
}

.popup-container{
	position: fixed;
	top: 0;
	display: flex;
	width: 100%;
	visibility: hidden;
	height: 100%;
	background-color: #FFFFFF;
	opacity: 0.9;
	z-index: 900;
	justify-content: center;
}
.recall-form__exit-btn{
	background-image: url(../img/exit.svg);
	position: absolute;
	background-repeat: no-repeat;
 	left: 88.6%;
	right: 10%;
	top: 5%;
}

.recall-form{
	width: 500px;
	height: 570px;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
	padding: 84px 76px;
	opacity: 4;
	top: 108px;
	position: relative;
	text-align: center;
}
.form-title{
	font-weight: 500;
	font-size: 32px;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 53px;
}
.form-btn{
	margin-top: 40px;
}
.recall-form input{
	width: 350px;
	height: 56px;
	border: 1px solid #acacac;
	border-radius: 3px;
	margin-bottom: 20px;
	font-size: 17px;
	color: #BFBFBF;
	padding-left: 15px;
}

section{
	margin-bottom: 93px;
	background-color: #FFFFFF;
	position: relative;
}
.heaadar__login_link{
	margin-right: -80px;
}

.fixed-container{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	justify-content:space-between; 
	align-items: center;
	width: 100%;	
}
.dream-figure{
    padding-top: 475px;
    padding-bottom: 423px;
}
.dream-figure__scroll-below{
    position: absolute;
    left: 42.6%;
    top: 97%;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    background-color: #fff;
    border-radius: 43px;
    width: 282px;
    height: 72px;
}
.dream-figure__scroll-below::after{
	content:"\2193";
	font-size: 35px;
}

[class*=section__btn]:after {
       position: absolute;
    margin: 0 auto;
    top: -52%;
    right: 0px;
    left: -17px;
    border-radius: 37px;
    width: 257px;
    height: 85px;
    content: "";
    border: 15px solid #fff;
    border-top: 0px;
}

.dream-figure__middle-box{
	position: absolute;
	top: -210px;
}

 [class*=dream-figure__free-action] {
	font-weight: 500;
	font-size: 16px;
	vertical-align: bottom;
	padding-left: 40px;	
	text-transform: uppercase;
}
strong[class*=dream-figure__free-action]{
	vertical-align: middle;
	font-size: 32px;
	padding-top: 0px;
    font-weight: 900;
	padding-left: 28px;

}
.girl-container {
    position: absolute;
    left: 70.5%;
    padding: 27px 50px 0px;
	max-width: 27%;
	z-index: 2;
}
.girl-container__img{
	z-index: 150;
}
.girl-container__img img{
	position: absolute;
    top: -19.3%;
    left: 27.7%;
}
.girl-container__drow-box{
	max-width: 303px;
	min-height: 301px;
}

[class^=dream-figure__title]{
	text-transform: uppercase;
	line-height: 1.6;
	font-weight: 700;
	font-size: 60px;
}
.dream-figure__subtitle{
	font-weight: 500;
	font-size: 32px;
	text-transform: uppercase;
	line-height: 2;
	padding-bottom:  20.4vh;
	color: #5a5a5a;
}
[class$=_g]{
  color: #F27A54;
background: linear-gradient(90deg, #F27A54 42.95%, #A154F2 121.05%);
  -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
}


.you-get-section__title{
	padding-top: 10%;
	padding-bottom: 2.3%;	
	font-size: 31px;

} 
.you-get-section__description{
    min-width: 100%;
	align-self: baseline;
    padding-bottom: 9.8%; /*? */
	line-height: 1.4;
	font-size: 20px;
}
[class^=get__img_]{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url(../img/sprite-1-min.png);
	margin: 0px auto 16px;
	width: 77px;
	height: 77px;
}
.get__img_1{
	background-position: 0 -2px;
}
.get__img_3{
	background-position: -154px -2px;
    width: 80px;
}
.get__txt_title{
	font-weight: 500;
	font-size: 20px;
}
.get__text_1,.get__text_2,.get__text_3{
	font-size: 15px;
	text-align: center;
}
.you-get-section__get-container{
    width: 100%;
	display: flex;
	justify-content: space-between;
}
.get-container__get{
    max-width: 19.5%;
	min-height: 20.2vh;
	text-align: center;
}
.you-get-section__btn{
margin-bottom: 12px;
margin: 0 auto;
margin-top: 120px;

}
/* experts-section */
[class$=section__title]{
font-size: 32px;
	text-transform: uppercase;
	color: #5A5A5A;
}
.experts-section__title{
	padding-top: 60px;
	padding-bottom: 30px;

}
.experts-section__description{
	font-size: 20px;
	color: #6D6D6D;
	max-width: 100%;
	font-weight: 500;
	letter-spacing: 1px;
	padding-bottom: 108px;

}
.experts-itam{
	max-width: 50%;
	
}
 .experts-itam__description{
	max-width: 60%;
	display: inline-block;
	vertical-align: middle;
	font-weight: 500;
	font-size: 27px;
    margin-left: 55px;
    margin-bottom: 17px;


}
.experts-itam__description span,.experts-section__support-info{
	font-size: 20px;
	text-align: left;
	color: #6D6D6D;

}
[class^=experts-itam__avatar_]{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url(../img/sprite-2-min.png);
	width: 170px;
	height: 170px;
	display: inline-block;
	vertical-align: middle;
}
.experts-itam__avatar_1{
	background-position: -202px -6px;
	height: 181px;
	    margin-right: 14px;
}
.experts-itam__avatar_2{
	background-position: 0 -7px;
	height: 180px;
	margin-right: 12px;
}
.experts-itam__avatar_2 +p{
	margin-right: -6px;
}
.experts-section__support-info{
    padding-top: 78px;
    padding-bottom: 52px;
}.support-info__icon +span{
	padding-right: 31px;
    padding-left: 20px;
}
	.support-info__icon{
	vertical-align: middle;
	padding-left: 32px;
}
.experts-section__btn{
	margin: 0 auto;
	margin-top: 20px; 
}
.cours-info-section__title{
       padding-top: 83px;
    padding-bottom: 30px;
	 width: 100%;			/*?*/
	 vertical-align: top;		
}
.cours-info-section__img{
		margin-left: -30px;
		margin-top: 28px;
}
.cours-info-section__course-facts{
	max-width: 72%;
	list-style-type: none;
	font-size: 15px;
		padding-top: 14px;
		padding-left: 106px;
		cursor: pointer;
}
.cours-info-section__course-facts span{
    font-size: 98px;
	font-weight: 900;
	vertical-align: bottom;
}
.cours-info-section__course-facts p{
	display: inline-block;
}
.cours-info-section__course-facts li{
		    opacity: 0.5;
		    transition-property:transform-translateX,opacity;
		    transition:0.5s;
		    -webkit-transition:0.5s;
		    -moz-transition:0.5s;
		    -ms-transition:0.5s;
		    -o-transition:0.5s;
}

.cours-info-section__course-facts span{
		 opacity: 0.1;
	    transition:0.3s;
	    transition-property: color, background-color,opacity;
	    -webkit-transition:0.3s;
	    -moz-transition:0.3s;
	    -ms-transition:0.3s;
	    -o-transition:0.3s;
}
.cours-info-section__course-facts li:hover{
		opacity: 1;
		transform: translateX(84px)	;
		-webkit-transform: translateX(84px)	;
		-moz-transform: translateX(84px)	;
		-ms-transform: translateX(84px)	;
		-o-transform: translateX(84px)	;
}

.cours-info-section__course-facts li:hover span {
	opacity: 0.5;
	color: #F27A54;
	background: linear-gradient(90deg, #F27A54 -21.05%, #A154F2 121.05%);
 	 -webkit-text-fill-color: transparent;
  	 -webkit-background-clip: text;

}

[class*=course-facts__description]>b{
	font-size: 20px;
	line-height: 1.5;
}
.course-facts__description_1{
	max-width: 89.5%;
padding-left: 43px;
	
}
.course-facts__description_1 li{
	    margin-top: -16px;
    padding-bottom: 16px;
}

.course-facts__description_2{
	max-width: 64.5%;
	margin-top: 2px;
	   padding-left: 43px;
  
}

.course-facts__description_3 {
	max-width: 71.5%;
	    padding-left: 28px;
}
.cours-info-section__btn{
	margin: 0 auto;
	font-weight: 900;
	font-size: 13.25px;
}

.cours-info-section__welcome{
	margin: 0 auto;
	width: 100%;
	font-weight: 600;
	font-size: 16px;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 25px;
	color: #6D6D6D;
}

/* футер */
.footer{
	background-color: #fff ;
	position: relative;
}

.footer__logo{
    margin-top: -13px;
}
.footer-menu ul{
	width: 49%;
	list-style-type: none;
	line-height: 2;
}
.footer-menu {
	width: 36%;
	list-style-type: none;
	
}
.footer-menu__links_grup-1 {
	display: inline-block;
	text-align: left;
}
.footer-menu__links_grup-2 {
	vertical-align: top;
	text-align: right;
	display: inline-block;
}
.footer-menu__links_grup-2 li:last-child{
	padding-right: 16px;
}
.footer__btn{
	display: block;
	margin: 0 auto;
}
.tel-icon{
	background-image: url(../img/icon-tel.png);
	width: 7px;
	height: 7px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.footer-contacts{
    min-height: 22vh;
	min-width: 20%;
		text-align: center;
		padding-top: 80px;
}
.footer-contacts__phone{

	    padding-right: 140px;
}
.footer-contacts__phone,.footer-contacts__web{
	font-size: 14px;
	color: #979797;
	position: absolute;
	right: 0;
	top: 82%;
	
}
.footer-menu li,.popup-menu__elements li.footer a,.heaadar__login_link_avatar button {
	transition: 0.5s;
	transition-property: opacity;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}


.footer-menu li:hover,.footer a:hover,button:hover,.heaadar__login_link_avatar:hover,.popup-menu__elements li:hover{
	opacity: 0.5;
}